.container {
  width: 100%;
  border: 1px solid black;
  background-color: #f3f4f5;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1.5px solid #f3f3f3;
  height: 88px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 7%);
}

.wrapped {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  /* border: 1px solid black; */
  width: 80%;
}

.left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 48px;
}

.right {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}
