.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px;
  background-color: black;
  border: 1.5px solid #03ac0e;
  box-sizing: border-box;
  border-radius: 8px;
  height: 36px;
  width: fit-content;
}
