.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  /* border: 1px solid black; */
  gap: 40px;
  width: 684px;
  height: 64px;
}

.left,
.right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.left {
  gap: 40px;
  /* border: 1px solid black; */
}

.right {
  width: 270px;
  /* height: 40px; */
  justify-content: space-between;
  /* border: 1px solid black; */
}
