html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  /* border: 1px solid black; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 48px;
  margin-bottom: 64px;
}

.productList {
  /* border: 1px solid black; */
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.wrapped {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 24px;
  /* border: 1px solid black; */
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;
  /* border: 1px solid black; */
}

.empty {
  width: 374px;
}

.headerLabel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  width: 240px;
}

.bottomCart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* border: 1px solid black; */
  width: 80%;
  align-items: center;
}

.login-wrapped {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
}

.form-wrapped {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
